# HYGRAPH API
NEXT_PUBLIC_HYGRAPH_API_ACCESS_TOKEN=your_hygraph_token
NEXT_PUBLIC_HYGRAPH_API_URL=https://api-sa-east-1.hygraph.com/v2/YOUR_TOKEN/master

NEXT_HYGRAPH_MUTATION_API_ACCESS_TOKEN=your_token_for_mutations

# AUTHENTICATION
AUTHENTICATION_PASSWORD=
AUTHENTICATION_EMAIL=
JWT_TOKEN_EXPIRATION=
JWT_SECRET=

# IBM CLOUD
IBM_COS_ENDPOINT=
IBM_COS_API_KEY_ID=
IBM_COS_AUTH_ENDPOINT=
IBM_COS_SERVICE_INSTANCE_ID=
IBM_COS_CREDENTIALS_ACCESS_KEY_ID=
IBM_COS_CREDENTIALS_SECRET_ACCESS_KEY_ID=
